*,
:before,
:after {
  box-sizing: border-box;
}

html {
  font: 18px "Helvetica Neue", sans-serif;
}

body {
  text-align: center;
}

.signature-component {
  text-align: left;
  display: inline-block;
  max-width: 100%;
}
.signature-component h1 {
  margin-bottom: 0;
 
}
.signature-component h2 {
  margin: 0;
  font-size: 100%;
}
.signature-component button {
  padding: 1em;
  background: transparent;
  box-shadow: 2px 2px 4px #43459e;
  margin-top: 0.5em;
  border: 2px solid #43459e;
  font-size: 1rem;
}
.signature-component button.toggle {
  background: rgba(173, 36, 104, 0.2);
}
.signature-component canvas {
  display: block;
  position: relative;
  border: 5px solid;
}
.signature-component img {
  position: absolute;
  left: 0;
  top: 0;
}